.empty {
    background: url("../img/empty.png");
    background-repeat: no-repeat;
}

.type0 {
    background: url("../img/00cardPlaceholder.png");
    background-repeat: no-repeat;
}

.type1 {
    background: url("../img/01cardPlaceholder.png");
    background-repeat: no-repeat;
}

.type2 {
    background: url("../img/02cardPlaceholder.png");
    background-repeat: no-repeat;
}

.type3 {
    background: url("../img/03cardPlaceholder.png");
    background-repeat: no-repeat;
}

.type4 {
    background: url("../img/04cardPlaceholder.png");
    background-repeat: no-repeat;
}

.type5 {
    background: url("../img/05cardPlaceholder.png");
    background-repeat: no-repeat;
}

.type6 {
    background: url("../img/06cardPlaceholder.png");
    background-repeat: no-repeat;
}

.normal {
    background: url("../img/mapNode0.png");
    background-repeat: no-repeat;
}

.elite {
    background: url("../img/mapNode1.png");
    background-repeat: no-repeat;
}

.boss {
    background: url("../img/mapNode2.png");
    background-repeat: no-repeat;
}

.rest {
    background: url("../img/mapNode3.png");
    background-repeat: no-repeat;
}

.randomEvent {
    background: url("../img/mapNode4.png");
    background-repeat: no-repeat;
}

.normal.cleared {
    background: url("../img/mapNode0 Cleared.png");
    background-repeat: no-repeat;
}

.elite.cleared {
    background: url("../img/mapNode1 Cleared.png");
    background-repeat: no-repeat;
}

.rest.cleared {
    background: url("../img/mapNode3 Cleared.png");
    background-repeat: no-repeat;
}

.randomEvent.cleared {
    background: url("../img/mapNode4 Cleared.png");
    background-repeat: no-repeat;
}