div div.beginning-screen div.row{
    height: 600px;
    align-items: center;
}

.startScreenHeader {
    height: 300px;
    background: url("https://1001freedownloads.s3.amazonaws.com/vector/thumb/63319/Placeholder.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.startButton, .helpButton {
    margin-top: 8px;
}

body div div div.row.battleScreenTop img {
    height: 400px;
}

body div div div:nth-child(4) div.col.col-10.cardsInHand {
    height: 150px;
    width: 100px;
}

body div div div:nth-child(4) div.cardsInHand div {
    display: inline-block;
}

body div div div:nth-child(3) span div {
    height: 150px;
}

body div div .mapScreenBG {
    height: 600px;
    border: solid black 2px;
}

.mapNode {
    display: inline-block;
    height: 100px;
    border: solid black 2px;
}

.cleared {
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.5);
}

.cardDraftBG {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.5);
}