body {
    font-family: georgia;
}



div div.beginning-screen div.row{
    height: 600px;
    align-items: center;
}

.startScreenHeader {
    height: 300px;
    background: url("https://1001freedownloads.s3.amazonaws.com/vector/thumb/63319/Placeholder.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.startButton, .helpButton {
    margin-top: 8px;
}

body div div div.row.battleScreenTop img {
    height: 260px;
    margin-top: 10px;
}

body div div div:nth-child(4) div.col.col-10.cardsInHand {
    height: 150px;
    width: 100px;
}

body div div div:nth-child(4) div.cardsInHand div {
    display: inline-flex;
}


body div div .mapScreenBG {
    height: 600px;
    border: solid black 2px;
}

.mapNode {
    display: inline-flex;
    height: 100px;
    width: 100px;
    border: solid black 2px;
    margin: 5px;
    background-size: contain;
}

.mapPath {
    height: 600px;
    display: flex;
    align-content: center;
}

.cleared {
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.5);
}

.cards {
    border: solid black 2px;
    margin: 0 5px;
    height: 150px;
    width: 100px;
}

.background {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.5);
}

.selectionContainer {
    width: 100%;
}

.cardDraft {
    display: inline-flex;
    height: 150px;
    width: 100px;
    margin: 5px;
    border: solid black 2px;
}

.cardDraftHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.selected {
    border: solid rgba(0, 0, 255, 0.5) 3px;
}

.flow {
    display: inline-flex;
    height: 150px;
    width: 100px;
    border: 2px solid black;
    margin: 5px 5px;
}

.executeButton {
    display: inline-flex;
    background: grey;
    color: white;
    text-align: center;
    border: rgba(0, 0, 0, 0.6) solid 1px;
    height: 30px;
}

.win {
    background: url("../img/win.png") no-repeat;
    height: 100%;
    width: 100%;
}

body > div > div > div.row.battleScreenTop > div > img.attack {
    height: 25px;
    width: 25px;
}

body > div > div > div.row.battleScreenTop > div > img.shield {
    height: 25px;
    width: 25px;
}

body > div > div > div.row.battleScreenTop > div {
    display: flex;
    align-items: flex-end;
}

.restartYes {
    width: 100px;
    text-align: center;
}

.restartNo {
    width: 100px;
    text-align: center;
}

.instructions {
    height: 100%;
}